/* You can add global styles to this file, and also import other style files */
.backgroundImage {
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-image: url(./assets/images/bg_cab.png);
    background-repeat: no-repeat;
    background-size: cover;
    }